services:
  api-gateway:
    build: .
    volumes:
      - ./src:/app/src
    container_name: codesnap-api-gateway
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    networks:
      default:
        aliases:
          - api-gateway

networks:
  default:
    external: true
    name: shared-codesnap-network